<ion-header>
  <ion-toolbar>
    <ion-title>
      Quiz 01
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

  </div>

  <p align="center">La aceitera</p>

  <ion-card *ngFor = "let i of nm" >

    <ion-card-header>
      <ion-card-subtitle>Usuario</ion-card-subtitle>
      <ion-card-title>Nombre: {{json.sistema.usuarios[i].nombre}} {{json.sistema.usuarios[i].apellidos}} </ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <p>Edad: {{json.sistema.usuarios[i].edad}}  </p>
      <p>Color: {{json.sistema.usuarios[i].color}} </p>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img style="width: 100px" src="{{json.sistema.usuarios[i].foto}}">
                </ion-col>
              </ion-row>
            </ion-grid>

    </ion-card-content>

  </ion-card>
        
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title align="center">Manuel Hernández Mota</ion-title>
  </ion-toolbar>
</ion-footer>